/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

/* Додаємо загальні стилі для сторінки */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.gallery a {
  display: block;
  width: calc((100% - 50px) / 5);
  margin: 5px;
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}
